body {
    background-color: rgb(235, 215, 219);
    text-align: center;
}

div {
    align-self: flex-start;
    font: large;
}

iframe {
    src: "https://www.youtube.com/embed/POdbN6exYlc";
}